body{
    font-family: 'Nunito Sans', sans-serif;
}    
h1{
    color: red;
    font-weight: 900;
}
p{
    color: rgb(210, 11, 245);
    font-size: 20px;
}
ul{
color: salmon;
}
q{
    color: springgreen;
    font-style: oblique;
}